## More pyodbc Insert Examples

In [1]:
from pyodbc import connect
from pprint import pprint

In [2]:
conx_string = "driver={SQL SERVER}; server=GTLPF1MZF5M\IZZY_SQL_001; database=SANDBOX; trusted_connection=YES;"

### Example of inserting from a list of dictionaries

In [3]:
data = [
    {'NationalIDNumber': '101', 'JobTitle': 'Sr. Analyst', 'VacationHours': 25},
    {'NationalIDNumber': '102', 'JobTitle': 'Analyst', 'VacationHours': 45},
    {'NationalIDNumber': '103', 'JobTitle': 'Design Engineer', 'VacationHours': 23}]

**Example 1**  
Convert the list of dictionaries into a list of tuples. This will allow you to use the `executemany` method

In [4]:
# Convert the list of dictionaries to a list of tuples
params = [tuple(row.values()) for row in data]

# Insert the data
with connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO VacationExceptions VALUES(?, ?, ?)", params)

In [5]:
# Check to make sure values were inserted
with connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute(r"SELECT * FROM VacationExceptions WHERE NationalIDNumber IN('101', '102', '103');")
    fetched_data = cursor.fetchall()
    
pprint(fetched_data)

[('101', 'Sr. Analyst', 25),
 ('102', 'Analyst', 45),
 ('103', 'Design Engineer', 23)]

**Example 2**  
Create a string with brackets that includes the name of the dictionary keys for the values you want to you.  
Notice that I need to put a `'` around the string as you would in a sql statement. If you don't do this, it will fail.

In [6]:
QUERY = "INSERT INTO VacationExceptions VALUES('{NationalIDNumber}', '{JobTitle}', {VacationHours})"

with connect(conx_string) as conx:
    cursor = conx.cursor()
    
    # iterate through each dictionary in the list
    for row in data:
        insert_query = QUERY.format(**row) # this will unpack the dictionary and map it to the keys you referenced in the string
        cursor.execute(insert_query)

In [7]:
# Check to make sure values were inserted
with connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute(r"SELECT * FROM VacationExceptions WHERE NationalIDNumber IN('101', '102', '103');")
    fetched_data = cursor.fetchall()
    
pprint(fetched_data)

[('101', 'Sr. Analyst', 25),
 ('102', 'Analyst', 45),
 ('103', 'Design Engineer', 23),
 ('101', 'Sr. Analyst', 25),
 ('102', 'Analyst', 45),
 ('103', 'Design Engineer', 23)]

### Example of inserting from a list of tuples

In [8]:
data = [
    ('104', 'Sr. Analyst', 25),
    ('105', 'Sr. Analyst', 25),
    ('106', 'Sr. Analyst', 25)]

In [9]:
# Insert the data
with connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO VacationExceptions VALUES(?, ?, ?)", data)

In [10]:
# Check to make sure values were inserted
with connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute(r"SELECT * FROM VacationExceptions WHERE NationalIDNumber IN('104', '105', '106');")
    data = cursor.fetchall()
    
pprint(data)

[('104', 'Sr. Analyst', 25),
 ('105', 'Sr. Analyst', 25),
 ('106', 'Sr. Analyst', 25)]