# Connecting to a Microsoft SQL Server with Python library _pyodbc_

This is a **QUICK START** guide for the **pyobc** library for those who use it to connect to a **Microsoft SQL SERVER** database. However, this will not go into any detail, so you can and should read the full documentation [HERE](https://github.com/mkleehammer/pyodbc/wiki)

Besides the standard query stuff you would expect... there are A LOT of other things that you can do with pyodbc, with some creativity. For example, you can use it to stage an ETL process...yes, you can execute a python script with a scheduled task on your computer... pretty cool. I often run queries in a FOR loop when I want to process data over multiple periods of time, but it is more efficient to load it in one month or one year increments. The sky is the limit! Enjoy!

In [ ]:
import pyodbc

## The connection string
Use the _pyodbc.drivers()_ method to find available drivers; the connection strings for these are essentially the same and will look like this:  

`conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=TestServer; Database=TestDatabase; UID=UserID; PWD=Password;')`

If you use **Windows Authentication** to connect to the server, your string will look like this:  

`conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=TestServer; Database=TestDatabase; TRUSTED_CONNECTION=yes')`

## Setup the connection string & query variables
**Find** the DRIVERS you have available by using the `pyodbc.drivers()` method

In [ ]:
pyodbc.drivers()

**Create** a VARIABLE to store the connection string

In [ ]:
conx_string = "driver={SQL SERVER}; server=GTLPF1MZF5M\IZZY_SQL_001; database=ADVENTUREWORKS2017; trusted_connection=YES;"

**Create** a VARIABLE for the sql query

In [ ]:
query = "SELECT Name, CreditRating FROM Purchasing.Vendor WHERE CreditRating < 3"

## Connect and extract data | Individual steps

**Create** a CONNECTION using the connection string and `pyodbc.connect()`

In [ ]:
conx = pyodbc.connect(conx_string);

**Create** a CURSOR that we can use to work in the database

In [ ]:
cursor = conx.cursor();

**Run** the QUERY using `cursor.execute()`

In [ ]:
cursor.execute(query);

**Store** the RESULTS in a variable

In [ ]:
data = cursor.fetchall()

**Display** the RESULTS to check the data (first 5 rows)

In [ ]:
print(data[:5])

**Close** the CONNECTION using the `close()` method

In [ ]:
conx.close()

## Connect and extract data | Consolidated with statement
**Create** a CONNECTION and **import** the DATA.  There is no need to close the connection manually here as it will close when exiting the with statement.

In [ ]:
with pyodbc.connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute(query)
    data = cursor.fetchall()

**Display** the RESULTS to check the data (first 5 rows)

In [ ]:
print(data[:5])

## Other useful methods
**Access** the DATA as a NAMED TUPLE, which can prove to be very handy

In [ ]:
for row in data[:5]:
    print(f"VENDOR NAME: {row.Name}\nCREDIT RATING: {row.CreditRating}")

**Retrieve** the COLUMN NAMES for a table

In [ ]:
columns = [row.column_name for row in cursor.columns(table='Vendor')]
print(columns)

**Retrieve** a LIST OF TABLES in the database (first 5 records)

In [ ]:
tables = [row.table_name for row in cursor.tables()]
print(tables[:5])

## Select queries with parameters

##### **SINGLE** parameter query (Female employees)

In [ ]:
with pyodbc.connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT NationalIDNumber, JobTitle FROM HumanResources.Employee WHERE Gender = ?', 'F')
    f_emp_data = cursor.fetchall()

##### Retrieve a list of tables in the database (first 5 records)

In [ ]:
for row in f_emp_data[:5]:
    print(row)

##### **MULTI** parameters query

In [ ]:
# select male employees who have fewer than 40 vacation hours
with pyodbc.connect(conx_string) as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT NationalIDNumber, JobTitle, VacationHours FROM HumanResources.Employee WHERE Gender = ? AND VacationHours < ?' , ('M',40))
    m_vac_data = cursor.fetchall()
    
# display the first 5 records
for row in m_vac_data[:5]:
    print(row)

## Insert queries

In [ ]:
# create a variable that contains the connection string
conx_string_b = "driver={SQL SERVER}; server=GTLPF1MZF5M\IZZY_SQL_001; database=SANDBOX; trusted_connection=YES;"

**Insert** a SINGLE record

In [ ]:
with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.execute("INSERT INTO VacationExceptions (NationalIDNumber, JobTitle, VacationHours) VALUES(125467985467854, 'Head Hancho', 500)")

**Verify** the DATA with a SELECT query

In [ ]:
with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.execute("SELECT * FROM VacationExceptions")
    data = cursor.fetchall()

print(data)

**Insert** MULTIPLE records from VALUES

In [ ]:
exceptions = [('615389812','Sales Representative',150),('982310417','European Sales Manager',75)]

with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO VacationExceptions (NationalIDNumber, JobTitle, VacationHours) VALUES(?,?,?)", exceptions)

**Verify** the DATA with a SELECT query (1 record from single insert, and 2 records for multi insert... 3 total)

In [ ]:
with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.execute("SELECT * FROM VacationExceptions")
    data = cursor.fetchall()

for row in data:
    print(row)

**Insert** MULTIPLE records from ANOTHER query  
Load the MALE vacation exceptions dataset into the VacationExceptions table

In [ ]:
with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.executemany("INSERT INTO VacationExceptions (NationalIDNumber, JobTitle, VacationHours) VALUES(?,?,?)", m_vac_data)

**Verify** the DATA with a SELECT query (first 10 records)

In [ ]:
with pyodbc.connect(conx_string_b) as conx:
    cursor = conx.cursor()
    cursor.execute("SELECT * FROM VacationExceptions")
    data = cursor.fetchall()

for row in data[:10]:
    print(row)